.pokemon-types {
  position: fixed;
  left: 2vw;
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__icon {
    border-radius: 100%;
    height: 40px;
    width: 40px;
    transition: 200ms all;

    &:hover {
      filter: saturate(200%);
      transform: scale(0.8);
      cursor: pointer;
    }
    
    & img {
      height: 60%;
      width: 60%;
      margin: 20%;
    }
    
    &--bug {
      background: #92BC2C;
    }
    
    &--dark {
      background: #595761;
    }
    
    &--dragon {
      background: #0C69C8;
    }
    
    &--electric {
      background: #F2D94E;
    }
    
    &--fire {
      background: #FBA54C;
    }
    
    &--fairy {
      background: #EE90E6;
    }
    
    &--fighting {
      background: #D3425F;
    }
    
    &--flying {
      background: #A1BBEC;
    }
    
    &--ghost {
      background: #5F6DBC;
    }
    
    &--grass {
      background: #5FBD58;
    }
    
    &--ground {
      background: #DA7C4D;
    }
    
    &--ice {
      background: #75D0C1;
    }
    
    &--normal {
      background: #A0A29F;
    }
    
    &--poison {
      background: #B763CF;
    }
    
    &--psychic {
      background: #FA8581;
    }
    
    &--rock {
      background: #C9BB8A;
    }
    
    &--steel {
      background: #5695A3;
    }
    
    &--water {
      background: #539DDF;
    }
    
    &--active {
      filter: saturate(400%);
      transform: scale(0.8);
    }
  }

  &__burger {
    display: none;
    padding: 5px;
    height: 40px;
    background-color: #FF5350;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: #ff535088 5px 5px 15px;
    color: white;
    font-size: 18px;

    @media (max-width: 800px) {
      display: block;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    gap: 5px;

    @media (max-width: 800px) {
      display: none;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.visible {
  display: flex;
}
