.App {
  display: flex;
  flex-direction: column;
  text-align: center;

  background-color: #f6f8fc;

  &__title {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    padding: 0 10vw 5vh;
  
    @media (max-width: 1100px) {
      padding: 0 20vw;
    }
  }
}